<div>
  <mat-card>
    <section class="mat-typography">
      <h3>Login</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="loginForm" class="login-form">
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Username" formControlName="username" #username>
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Password" formControlName="password" #password>
        </label>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button color="accent" routerLink="/register">Register</button>
      <button type="submit" (click)="onSubmit(username.value,password.value)" [disabled]="loginForm.pristine || loginForm.invalid" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card>
</div>
