<div>
  <mat-card>
    <section class="mat-typography">
      <h3>Register</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="registerForm" class="register-form">
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="First Name" formControlName="firstName">
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Company" formControlName="company">
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Email" formControlName="email">
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Telephone" formControlName="telephone">
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Username" formControlName="username">
        </label>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <label>
          <input matInput placeholder="Password" formControlName="password">
        </label>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br>
      <button mat-raised-button color="accent" routerLink="/login">Login</button>
      <button type="submit" (click)="onSubmit()" [disabled]="registerForm.pristine || registerForm.invalid" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card>
</div>

