<div>
  <mat-card>
    <div>
      <button mat-raised-button color="primary" (click)="navigateCreate()"> + Issue</button>
      <button mat-raised-button color="warn" (click)="checkSafe()"> Check Safe Browsing</button>
    </div>
    <mat-card *ngIf="matches.length">
      <br>
      <table mat-table [dataSource]="matches" matSort class="mat-elevation-z8">
        <caption>Confirmed threat issues from Google Safe Browsing API</caption>
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="threat">
          <th mat-header-cell *matHeaderCellDef > Threat </th>
          <td mat-cell *matCellDef="let element"> {{element.threat.url}} </td>
        </ng-container>
        <ng-container matColumnDef="threatType">
          <th mat-header-cell *matHeaderCellDef> Threat type </th>
          <td mat-cell *matCellDef="let element"> {{element.threatType}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="threatDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: threatDisplayedColumns;"></tr>
      </table>
    </mat-card>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="issues">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>Url</th>
        <td mat-cell *matCellDef="let element">{{element.url}}</td>
      </ng-container>
      <ng-container matColumnDef="responsible">
        <th mat-header-cell *matHeaderCellDef>Responsible</th>
        <td mat-cell *matCellDef="let element">{{element.responsible}}</td>
      </ng-container>
      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef>Severity</th>
        <td mat-cell *matCellDef="let element">{{element.severity}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="mat-column-right" *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="navigateUpdate(element._id)" >Edit</button>
          <button mat-button color="warn" (click)="deleteIssue(element._id)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
